@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto' , sans-serif;
    background-color: #E4DADD;
}

.head, .container {
    background-color: #090809;
    color: #ffffff;
}

.head {
    display: flex;
    padding: 12px;
    justify-content: space-between;
    align-items: center;
}

.left-item {
    flex: 3;
    font-weight: 500;
    font-size: 20px;
}

.right-item {
    display: flex;
    flex: 1;
    justify-content: space-around;
    font-weight: 300;
    font-size: 13px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.container {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 56px;
     padding: 32px;
     padding-bottom: 52px;
}

.content {
    display: block;
}

.heading {
    font-weight: 700;
    font-size: 28px;
}

.write-up {
    font-weight: 200;
    font-size: 12px;
}

.button {
    margin-top: 6px;
    font-size: 12px;
    padding: 3px 10px;
    border: none;
    border-radius: 6px;
    background-color: #afc9b9;
    color: #090809;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.pic-head {
    text-align: center;
    padding: 20px;
}

.pictures {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin:0 32px 32px 32px;
    text-align: center;
    padding: 8px 32px 32px 32px;
}

.quote {
    background-color: #acb9c4;
    font-weight: 300;
    padding: 64px;
    font-size: 20px;
}

.foot {
    text-align: right;
    font-weight: 400;
}


.sign-up {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px;
    margin: 24px;
    background-color: #785964;
    color: #F6F3F4;
    border-radius: 8px;
}

.second {
    align-self: flex-end;
}

.button2 {
    background-color: #785964;
    border-radius: 8px;
    padding: 3px 10px;
    font-size: 8px;
    color: #F6F3F4;
    border: 1px solid #F6F3F4;
}


